<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 01.09.2018, 12:14</p>
            <h2><a href="">KUTYAAA</a></h2>
            <p>Kutya kutya kutya! Kutya! Kutya kutya kutya! Kutya! Kutya kutya kutya! Kutya! Kutya kutya kutya! Kutya! Kutya kutya kutya! Kutya! Kutya kutya. Kutya.</p>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">Cica</a></h2>
            <p>Cica! Cica cica cica cica. Cica. Cica cica. Cica. Cica cica. Cica cica cica cica cica! Cica! Cica. Cica cica.</p>
        </div>
    </body>
</html>
